<!-- Supposed to show one drink -->

<h3>Name of the drink</h3>
<div class="container">
  <div class="card">
    <p class="d-flex justify-content-between align-items-center">Description</p>
    <%@cocktail.ingredients.each do |ingredient|%>
    <div class="card" style="margin: 10px; height: 50px; justify-content: center; padding: 25px;">

      <p class="d-flex justify-content-between align-items-center"><%= ingredient.content %></p>
    </div>
    <% end %>
  </div>
</div>



