// Place all the styles related to the cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #f1f4df;
}

.navbar {
  justify-content: center;
  margin-bottom: 50px;
  h1 {
    color: #17a2b8;
  }
}

.container {
  width: 800px;
}

.card {
  box-shadow: 2px 2px grey;
  border-radius: 4px;
  padding: 25px;
}
